/* .add--product--main--div{
    position: relative;

} */

.div--main--form{
    margin-right: 0.1rem;
}

/* .btn--submit--add{
    margin-left: 35rem;
}

.btn--submit--back{
    margin-left: 32.3rem;
} */